/a.out
/bin/Debug/s.exe
/Libraries_Documentation.docx
/main
/new.rar
/obj/Debug/CSVReader/csvreader.o
/obj/Debug/Dataframes/dataframes.o
/obj/Debug/Libs/lib.o
/obj/Debug/main.o
/obj/Debug/Node/node.o
/obj/Debug/Tree/DecisionTree.o
/obj/Debug/Vector/vector.o
/s.cbp
/s.depend
/s.layout
